@font-face {
	font-family: 'UniSansThinCAPS';
	src: url('../fonts/UniSansThinCAPS.eot');
	src: local('☺'), url('../fonts/UniSansThinCAPS.woff') format('woff'), url('../fonts/UniSansThinCAPS.ttf') format('truetype'), url('../fonts/UniSansThinCAPS.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UniSansThinHeavyCAPS';
	src: url('../fonts/UniSansHeavyCAPS.eot');
	src: local('☺'), url('../fonts/UniSansHeavyCAPS.woff') format('woff'), url('../fonts/UniSansHeavyCAPS.ttf') format('truetype'), url('../fonts/UniSansHeavyCAPS.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
