//header
@media (max-width: 1250px) {
  .header__inner{
    height: 60px;
  }
  .header__logo {
    height: 60px;
    img{
      height: 60px;
    }
  }
  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu__btn{
    display: block;
    width: 40px;
    height: 40px;
    background: none;
    border: 3px solid #fec230;
    position: relative;
    cursor: pointer;
    &::after{
      content: '';
      width: 20px;
      height: 2px;
      background: #fec230;
      position: absolute;
      top: 10px;
      left: 8px;
      box-shadow: 0 7px 0 0 #fec230, 0 14px 0 0 #fec230;
    }
  }

  .menu__body{
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background: #e7e1ea;
    z-index: 1000;
    transition: .3s;
    &._active{
      left: 0;
    }
  }
  .menu__body-close{
    display: block;
    border: 3px solid #fec230;
    width: 40px;
    height: 40px;
    background: none;
    position: absolute;
    top: 12px;
    right: 77px;
    &::before, &::after{
      content: '';
      background: #fec230;
      position: absolute;
      left: 7px;
      width: 20px;
      height: 2px;
    }
    &::before{
      transform: rotate(45deg);
      top: 16px;
    }
    &::after{
      transform: rotate(-45deg);
      bottom: 16px;
    }
  }
  .menu__list{
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
  }
  .menu__item{
    border-bottom: 2px solid #cddc39;
    &:first-child{
      border-top: 2px solid #cddc39;
    }
  }
  .header__search{
    display: none;
  }
  .header__initialization-icon{
    display: block;
  }
  .header__initialization-sign {
    display: none;
  }
  .header__initialization-registration {
    display: none;
  }
}
//main
@media (max-width: 630px) {
  .slider__dots{
    display: none;
  }
  .slider-item__info {
    margin-top: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .slider-item__info-inner {
    max-width: 100%;
    padding: 10px;
  }
  .slider-item__info-title {
    font-size: 24px;
  }
  .slider-item__info-text {
    font-size: 17px;
  }
}

//news
@media (max-width: 1420px) {
  .news__content-inner {
    grid-template-columns: 300px 300px 290px 290px;
  }
}
@media (max-width: 1210px) {
  .news__content-inner {
    grid-template-columns: 290px 290px;
    grid-auto-rows: 320px 330px 320px;
  }
  .news__item-1 {
    grid-column: 1/3;
  }
  .news__item-2 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .news__item-3 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .news__item-4 {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .news__item-5 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .news__item-6 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .news__item-7 {
    grid-column: 1/3;
    grid-row: 6/7;
  }
}
@media (max-width: 975px) {
  .news__top {
    flex-direction: column;
    align-items: center;
  }
  .news__top-left {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 640px) {
  .news__content-inner {
    grid-template-columns: 290px;
  }
  .news__item-1 {
    grid-column: 1/2;
    .news__item-title {
    width: 100%;
    }
  }
  .news__item-2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .news__item-3 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .news__item-4 {
    display: none;
  }
  .news__item-5 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .news__item-6 {
    display: none;
  }
  .news__item-7 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (max-width: 490px) {
  .news__sorting {
    width: 100%;
  }
  .sorting-label{
    width: 100%;
  }
  .sorting-label__popup{
    width: 100%;
  }
  .sorting-label__item{
    width: 100%;
  }
  .news__top-left {
    flex-direction: column;
  }
  .news__title {
    margin-right: 0;
  }
}
//game
@media (max-width: 1420px) {
  .games-slider__item-inner {
      display: flex;
      height: 320px;
      max-width: 800px;
      margin: 10px auto 0;
  }
}
@media (max-width: 700px) {
  .games-slider__item-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      max-width: 800px;
      margin: 10px auto 0;
  }
  .games-slider__item-bottom {
     position: static;
  }
  .games-slider__item-appraisal {
    right: 0px;
    top: -80px;
  }
  .games-slider__item-title{
    width: auto;
  }
  .news__sorting-label {
    margin: 50px auto 0;
  }
  .news__sorting{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 765px) {
  .games__top {
    display: block;
    margin-bottom: 109px;
    padding-left: 30px;
  }
  .games__slider-dots {
    top: -23px;
  }
}
@media (max-width: 600px) {
  .games-slider__item-box {
    background: #fff;
    padding: 20px 21px;
    position: relative;
    transition: .3s;
    width: 230px;
  }
  .games-slider__item-description{
    display: none;
  }
}

//video
@media (max-width: 970px) {
  .trailers__top {
    display: block;
    margin-bottom: 120px;
  }
  .trailers-slider .trailers__slider-dots {
    top: -60px;
  }
}
@media (max-width: 700px) {

  .trailers-slider__item-inner {
    flex-direction: column;
  }
  .trailers-slider__item-box {
    width: 330px;
    padding: 30px 23px;
  }
  .trailers-slider__item-inner {
    width: 330px;
    margin: 0 auto;
  }
}

//articles
@media (max-width: 1330px) {
  .article-item-photo{
    display: none;
  }
  .article-item__img {
    grid-column: 2/3;
  }
  .articles__content-inner {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
}
@media (max-width: 880px) {
  .articles__content-inner {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  .articles__content-item{
    grid-column: 1/2;
  }
  .articles__top-left {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 480px) {
  .article-item__top-left {
     margin-right: 0;
  }
  .article-item__top-name {
    font-size: 17px;
  }
  .articles__link-all {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .articles__top {
    display: block;
  }
  .article-item__top {
    width: 100%;
  }
  .article-item__top-right {
    width: 100%;
  }
}

//footer
@media (max-width: 1360px) {
  .footer {
    padding-bottom: 47px;
  }
  .footer__img {
    width: 420px;
    left: 42%;
  }
}
@media (max-width: 1190px) {
  .footer__inner {
    flex-direction: column;
    align-items: center;
  }
  .footer__img {
    display: none;
  }
  .footer__right-title {
    margin-top: 44px;
  }
}
@media (max-width: 800px) {
  .footer__left {
    width: auto;
  }
}
@media (max-width: 570px) {
  .footer__left {
    width: auto;
  }
  .footer__left-text{
    width: auto;
  }
  .footer__right {
    width: auto;
  }
}
